/*body{overflow:hidden;}*/
#promociones{
    position: fixed;
    float: left;
    top:0;
    left:0;
    margin:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
    z-index:99999;
}
.promociones{
    position: relative;
    left:35%;
    top:25%;
    width:450px;
    height:450px;
    text-align: center;
}
.close{
    position: absolute;
    z-index: 999;
    right: -10px;
    top: -20px;
    float:right;
}
.close i{
    font-size: 15px;
    color:#fff;
}

.ads p{
    text-align: center;
}

